@import './styles/buttons.scss';
@import './styles/forms.scss';
@import './styles/layout.scss';
@import './styles/medias.scss';

body, html {
  margin: 0;
  padding: 0;
  background-color: #f3f5fc;
  font-family: 'Inter', sans-serif;
  height: 100%;
}